//
.ascii-table {
    font: medium/1 monospace;
    margin: 1em;
    display: inline-block;
    position: relative;
    
    table {
        border-collapse: collapse;
        border: 1px dashed #000;
           
    }
    
    td {
        border-right: 1px dashed #000;
        padding: 0.2em 1em;
        position: relative;
        width: 200px;
        &:nth-child(2)
        {
            text-align: right;
        }
    }
    
    th {
        border: 1px dashed #000;
        padding: 0.6em 1em;
        position: relative;
    }

}
